{% extends 'page.html.twig' %}

{% block body %}
    {% block main %}
    <section class="bg-blue">
        <div class="container bg-blue w-100 text-white pt-4 pb-4">
            <h3 class="mt-1">Simplify your links</h3>
            <form class="form-inline">
                <div class="form-group mt-2 mb-2 w-100">
                    <input type="url" class="form-control mr-2 form-control-custom w-50" id="initial_link" aria-describedby="uriHelp" minlenght="7" maxlenght="190" placeholder="Your original URL here">
                    <button type="button" class="btn btn-light form-control-custom form-button-custom" id="shorten">Shorten url</button>
                </div>
            </form>
            <h6 class="form-text pb-2 pt-1">All URLs and click analytics are public and can be accessed by anyone</h6>
        </div>
    </section>
    {% endblock %}
    {% block result %}
    <section id="result" style="display: none;">
        <div class="container w-100 pt-4 pb-4">
            <h3 class="mt-1">Here is your shortened link</h3>
            <div class="mt-2 mb-2 w-100">
                <div class="input-group w-50">
                    <input id="external-link" type="text" readonly class="form-control form-control-copy-text" placeholder="Here would be your shortened link">
                    <span class="input-group-btn">
                        <button id="external-link-btn" class="btn btn-default form-control-copy-btn" data-clipboard-target="#external-link">
                            <i class="feather-16" data-feather="copy" alt="Copy to clipboard"></i>
                        </button>
                    </span>
                </div>
            </div>
            <h6 class="form-text pb-2 pt-1">Click analytics for this link is available by <a href="#" id="external-analytics"><i class="feather-16" data-feather="external-link"></i> url</a>.</h6>
        </div>   
    </section>
    {% endblock %}
{% endblock %}