{% extends 'base.html.twig' %}
{% block title %}URL Shortener{% endblock %}

{% block navbar %}
    <div class="collapse" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-dark">About</h4>
              <p class="text-muted">URL Shortener is an utility that helps you to convert long links into shorter once. Any link that is shortened with this service becomes public and can be viewed by any user if this service. Anyone can see clicks analytics for any link that is shortened with this service.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-dark">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="skype:live:961df3717db6fea0?chat" class="text-muted">Skype</a></li>
                <li><a href="mailto:arsifal.one@gmail.com" class="text-muted">Email</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-light box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand d-flex align-items-center">
            <i data-feather="external-link" class="mr-2"></i>
            <strong>URL Shortener</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
{% endblock %}

{% block footer %}
<div class="container">
  <span class="text-muted">URL Shortener is &copy; Ruslan Valis</span>
</div>
{% endblock %}