{% extends 'page.html.twig' %}

{% block body %}
    {% block main %}
    <section class="bg-danger">
        <div class="container bg-danger w-100 text-white pt-4 pb-4">
            <h3 class="mt-1">Simplify your links</h3>
            <p>The requested page couldn't be located. Checkout for any URL</br>misspelling or <a href="/" class="text-light"><i data-feather="external-link" class="feather-16"></i> return to the homepage</a>.</p>
        </div>
    </section>
    {% endblock %}
{% endblock %}